#calendar{
	width: 130px;
	height: 180px;
	background-color: cornflowerblue;
	border-radius: 5%;
}

#calendar>p{
	font-family: Verdana, Arial, sans-serif, serif, monospace;
	padding: 10px 0;
	margin: 0;
	color: #fff;
	text-align: center;
}

#calendar-day{
	font-size: 16px;
}

#calendar-month-year{
	font-size: 14px;
}

#calendar-date{
	font-size: 64px;
	padding-top: 10px;
	padding-bottom: 0;
}
